<h2>Methods that were not run</h2><table>
<tr><td>com.globantu.automation.cesar_molina.tests.Tests.testCase1</td></tr>
<tr><td>com.globantu.automation.cesar_molina.tests.Tests.testDate</td></tr>
</table>